.page-section {
    padding: 40px 0;
}

.page-section:first-child {
    padding-top: 100px;
}

.grey-section {
    background-color: #EEE;
}

.country-finder-form-error-message {

}

.country {
    margin-bottom: 40px;
}

.country-flag {
    width: 100%;
    border: 1px solid #888;
}

.country-name {
    line-height: 1;
}

.country-alpha {
    font-size: 0.6em;
}

.country-label {
    font-weight: 600;
}

.metadata-header {
    margin: 0 0 0;
}