<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Country Finder</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- JS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jsrender.min.js"></script>
    <script src="js/countryFinder.js"></script>

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.ico">
</head>
<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="page-section grey-section u-full-width">
    <div class="container">
        <div class="row">
            <div class="one-half column">
                <h4>Find a Country</h4>
                <form class="country-finder-form">
                    <input type="text" class="country-finder-form-input">
                    <input type="submit">
                    <div class="country-finder-form-error-message"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="page-section u-full-width">
    <div class="container">
        <div class="row country-container"></div>
    </div>
</div>

<div class="page-section metadata-section u-full-width">
    <div class="container">
        <div class="row metadata-container"></div>
    </div>
</div>

<!-- Country Template
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script id="countryTemplate" type="text/x-jsrender">
    <div class="row country">
        <div class="three columns">
            <img src="{{:flag}}" class="country-flag">
        </div>
        <div class="nine columns">
            <div class="row">
                <h5 class="country-name">
                    {{:name}}
                    <br>
                    <span class="country-alpha">{{:alpha2Code}}/{{:alpha3Code}}</span>
                </h5>
            </div>
            <div class="row">
                <div class="one-half column">
                    <span class="country-label">Region:</span> {{:region}}
                </div>
                <div class="one-half column">
                    <span class="country-label">Population:</span> {{:population}}
                </div>
            </div>
            <div class="row">
                <div class="one-half column">
                    <span class="country-label">Subregion:</span> {{:subregion}}
                </div>
                <div class="one-half column">
                    <span class="country-label">Languages:</span> {{:languageString}}
                </div>
            </div>
        </div>
    </div>
</script>

<!-- MetaData Template
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script id="metaDataTemplate" type="text/x-jsrender">
    <h5>
        <span class="country-label">Countries:</span> {{:numberOfCountries}}
    </h5>
    <div class="row">
        <div class="one-half column">
            <h5 class="metadata-header">Regions</h5>
            {{for regions}}
                <div class="row">
                    <span class="country-label">{{:name}}:</span> {{:count}}
                </div>
            {{/for}}
        </div>
        <div class="one-half column">
            <h5 class="metadata-header">Subregions</h5>
            {{for subregions}}
                <div class="row">
                    <span class="country-label">{{:name}}:</span> {{:count}}
                </div>
            {{/for}}
        </div>
    </div>
</script>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
